ytd-app > #content {
  padding-right: 400px;
}

#party-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 400px;
  background-color: #fff;
  color: #111;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
  z-index: 2100;
}

#side-bar-content {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 {
    margin-bottom: 0.5em;
  }

  h2 {
    margin-bottom: 0.2em;
  }

  label > input {
    margin-top: 6px;
  }

  label {
    color: rgb(96, 96, 96);
  }

  .section {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .section.with-border {
    border-bottom: 2px solid rgba(207, 215, 223, 0.25);
  }

  .top-area {
    margin-top: 1em;
    position: relative;

    .secondary-button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  input {
    font-size: 1em;
    color: rgb(18, 43, 72);
    height: 40px;
    -webkit-appearance: none;
    width: 100%;
    display: block;
    font-weight: 400;
    text-indent: 9px;
    background: rgb(246, 248, 249);
    border-radius: 0.222em;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
  }

  .primary-button {
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    min-width: 150px;
    height: 40px;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    width: 100%;
    position: relative;
    background: rgb(204, 0, 0);
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px 1em;
    overflow: hidden;
  }

  .secondary-button {
    font-weight: 600;
    font-size: 15px;
    color: rgb(77, 100, 128);
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    min-width: 150px;
    height: 40px;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    max-width: 200px;
    position: relative;
    background: transparent;
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px 1em;
    overflow: hidden;
    outline: none;
  }

  .secondary-button:hover {
    background: rgb(246, 248, 249);
  }

  .section.colored {
    margin: 0 -20px;
    background-color: rgb(246, 248, 249);

    margin-bottom: 20px;
  }

  .users {
    list-style: none;
    columns: 2;
    padding: 0;
    color: rgb(96, 96, 96);
    margin-bottom: -1em;
    max-height: 150px;
    overflow: scroll;
    padding: 20px;

    li {
      font-weight: 600;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    img {
      height: 24px;
      width: 24px;
      border-radius: 12px;
      margin-right: 6px;
    }
  }

  .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .track {
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 1em;

    > .row {
      position: relative;
    }

    p {
      font-size: 14px;
      font-weight: 500;
    }

    .thumbnail {
      width: 3.8em;
      min-width: 3.8em;
      object-fit: cover;
      height: 2.2em;
      margin-right: 0.4em;
    }

    .remove-button-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.75);
      display: none;
      justify-content: center;
      align-items: center;
    }
  }

  .remove-button {
    height: 30px;
    min-width: 0;
    width: auto;
  }

  .track.is-owner:hover {
    .remove-button-wrapper {
      display: flex;
    }
  }

  .track:last-child {
    margin-bottom: 0;
  }

  .upvote-button {
    border: 2px solid rgba(207, 215, 223, 0.25);
    border-radius: 3px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4em;
    width: 4em;
    min-height: 4em;
    min-width: 4em;
    font-weight: 600;
    cursor: pointer;
    margin-left: 1em;
    outline: none;
  }

  .upvote-button:hover,
  .upvote-button.active {
    background: rgb(246, 248, 249);
  }

  .upvote-button:disabled {
    background: transparent;
    cursor: default;
  }

  .up-arrow {
    border-color: black transparent;
    border-style: solid;
    border-width: 0px 5px 5px 5px;
    height: 0px;
    width: 0px;
  }

  .empty-playlist {
    flex-grow: 1;

    img {
      width: 100%;
      border-radius: 6px;
      margin-top: 20px;
      box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.02),
        0 0px 5.3px rgba(0, 0, 0, 0.028), 0 0px 10px rgba(0, 0, 0, 0.035),
        0 0px 17.9px rgba(0, 0, 0, 0.042), 0 0px 33.4px rgba(0, 0, 0, 0.05),
        0 0px 80px rgba(0, 0, 0, 0.07);
    }
  }

  .next-up-wrapper {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 0;

    &:after {
      pointer-events: none;
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
      );
      z-index: 2;
    }

    .next-up {
      flex: 1;
      min-height: 0;
      overflow: scroll;
      margin-right: -20px;
      padding-right: 20px;
      z-index: 1;
      padding-bottom: 40px;
    }
  }

  .created-by {
    .row {
      justify-content: flex-end;
    }

    a {
      text-decoration: none;
      color: rgb(18, 43, 72);
      font-size: 12px;
      font-weight: 500;
    }

    img {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-left: 0.5em;
    }
  }
}
